In [ ]:
a = 25
print(a)

In [ ]:
List1 = [25, 52, 57]
print(List1[0])
print(List1[1])
print(List1(2))

In [ ]:
# Basic concept of for loop
# for iterator in range(end):
#   print(iterator)

# for iterator in range(end - 1):
#   print(iterator)

# for iterator in range(start, end - 1):
#   print(iterator)


# for iterator in range(start, end - 1, step):
#   print(iterator)

# Looping

- Looping is a concept to repeat a block of code many times.
- It is basically iterations (repeating a task).
- In general there are 2 commonly used loops in python
    - for loops
    - while loops

## For loop

- Known as definite loop.
- Basically means finite number of operations

In [ ]:
numb = [25, "Sandeep", 56]
for i in numb:
  print(i)

In [ ]:
big_cat = "White tiger"

for i in big_cat: # i is iterator and we can change this i to anything
    print(i)

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
big_cat = "White Tiger"
for i in big_cat:
    print(i, end = "")

In [ ]:
big_cat = "White Tiger"

for string in big_cat: # i is iterator and we can change this i to anything
    print(string, end = " ")

In [ ]:
n="1,2:3.7;"
sep=""
for i in n:
  if i.isnumeric():
    print("")
  else:
     sep = sep+i
     print(sep)

In [ ]:
number = "9,223;832:023 854,775;925"
sep = ""

for string in number:
    if not string.isnumeric():
        sep = sep + string

print(sep)

In [ ]:
# Task
Sentence= """
This is third Week of Python? I am doing Pretty Good.
Today we are learning FOR loop which is a Definite loop.
It help us to Repeat a Block Code Several Times. Is It?
"""
# Use a for loop and an if statement to print just the capitals in the quote above.

In [ ]:
for i in Sentence:
    if i.isupper():
        print(i, end = " ")

T W P I P G T F O R D I R B C S T I I

In [ ]:
for i in Sentence:
    if i in "ABCDEFGHIJKLMNOPQRSTUVWXYZ":
        print(i, end = " ")

### Range function in for loop

In [ ]:
for i in range(1, 20, 2):
    print(i, end = " ")

In [ ]:
for i in range(1, 20, 3):
     print("i is now {}". format(i))

In [ ]:
number = "9,223,372,036,854,775,807"
for i in range(0, len(number)):
    print(i, end = " ")
# I want to print these number then what should I do?

In [ ]:
len(number)

In [ ]:
for i in range(0, len(number)):
    print(number[i], end = " ")

In [ ]:
for i in range(0, len(number)):
    if number[i] in "0123456789":
        print(number[i], end = " ")

In [ ]:
print(newNumber)
type(newNumber)

## Task
[9, 41, 12, 3, 74, 15]

In [ ]:
# Print largest number
largest_so_for = -1
print('Before', largest_so_for)
for the_num in [9, 41, 12, 3, 74, 15]:
    if the_num > largest_so_for:
        largest_so_for = the_num
    print(largest_so_for, the_num)

In [ ]:
d =[9, 41, 12, 3, 74, 15]

for i in d:
  if i  > big :
    big=i
print(big )

74

## While loop
- There will be time when we want to run a loop until a **condition** a become truefalse
- Also known as indefinite loop as it runs till infinite time.
- run continuously

In [ ]:
sum = 0
for i in range(10):
  sum = sum + i
print(sum)

45

In [ ]:
sum = 0
i = 0
while i < 10:
  sum = sum + i
  print(sum)
  i = i + 1

In [ ]:
while W < 5:
    print(W)

### We must have to create variable before

In [ ]:
W = 0
while W < 5:
    print(W)

In [ ]:
W = 0
while W < 5:
    print(W)
    W = W + 1 #this step is called incrementing

In [ ]:
W = 0
while W < 5:
    print(W)
    W += 1

In [ ]:
employees = ["Manohar", "Rahul", "Narendra", "Sharad", "Mohit", "Sai"]

name = " "
while name not in employees:
    name = input("Please chose a name: ")
print("He is your employee")

Please chose a name: Sam
Please chose a name: Murali
Please chose a name: Manohar
He is your employee

In [ ]:
# Adding numbes

# To take input from the user,
# n = int(input("Enter n: "))

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)

Enter n: 100
The sum is 5050

In [ ]:
A= [9, 41, 12, 3, 74, 15]
big=0
for i in A:
  if i > big:
    big=i
print(big)

74

## Break, continue and pass

### Break

- break is used to stop any loop

In [ ]:
cities = ["New York", "Paris", "London", "Tokyo", "Mumbai", "Rio de Janerio", 
            "Cape Town"]

for city in cities:
    print(city, end = " ")

New York Paris London Tokyo Mumbai Rio de Janerio Cape Town

In [ ]:
cities = ["New York", "Paris", "London", "Tokyo", "Mumbai", "Rio de Janerio", 
            "Cape Town"]

for city in cities:
    if (len(city) == 6):
        break
    print(city)

New York
Paris

In [ ]:
n = 0
 
while n <= 1000:
    if n == 600: 
     break
    print (n, end = " ")
    n = n + 100

0 100 200 300 400 500

### **Continue**

- Continue will skip that step

In [ ]:
cities = ["New York", "Paris", "London", "Tokyo", "Mumbai", "Rio de Janerio", 
            "Cape Town"]

for city in cities:
    if (len(city) == 6):
        continue
    print(city)

New York
Paris
Tokyo
Rio de Janerio
Cape Town

In [ ]:
n = 0
 
while n <= 1000:
    n = n + 100
    if n == 600:
        continue
    print (n, end = " ")

100 200 300 400 500 700 800 900 1000 1100

### **Pass**
- It will just pass the step do nothing

In [ ]:
cities = ["New York", "Paris", "London", "Tokyo", "Mumbai", "Rio de Janerio", 
            "Cape Town"]

for city in cities:
    if (len(city) == 6):
        print("PASS")
        pass
    print(city)

New York
Paris
PASS
London
Tokyo
PASS
Mumbai
Rio de Janerio
Cape Town

In [ ]:
a = 2
b = 4
if a+b ==6:
  pass

## Nested Loop

In [ ]:
for i in range(1, 3):
  for j in range(4, 6):
    print("i is:", i, "j is:", j)

In [ ]:
name = ["Sam", "Mohit", "Raghav"]
sub = ["Python", "SQL", "Statistics"]

for x in name:
  for y in sub:
    print(x, y)

In [ ]:
for x in range(1, 26):
  for y in range(1, 11):
    print("{0} x {1} = {2}".format(x, y, x * y))
  print("-----------------------")

## Convenience functions (zip, map, enumerate and filter)

### zip(): linking elements from multiple iterators

In [ ]:
DS_batch = ["DS15", "DS16", "DS11"]
name = ["Sai", "Mohit", "Raghav"]

# d = {}
# for i, j in zip(name, DS_batch):
#   d[i] = j
    
# d

In [ ]:
for key, value in d.items():
  print(key, " ", value)

### enumerate(): getting indices along with elements

- The enumerate() method adds a counter to an iterable and returns it (the enumerate object).

In [ ]:
DS_batch = ["DS15", "DS16", "DS11"]
enumerate_DS = enumerate(DS_batch)

# convert enumerate object to list
print(list(enumerate_DS))

[(0, 'DS15'), (1, 'DS16'), (2, 'DS11')]

In [ ]:
DS_batch = ["DS15", "DS16", "DS11"]
for i, DS_batch in enumerate(DS_batch):
    print(i, DS_batch)

0 DS15
1 DS16
2 DS11

### map(): applying a function to each element from an iterator

In [ ]:
from math import sqrt
Numbers = [4, 9, 25]
for i in map(sqrt, Numbers):
    print(i)

2.0
3.0
5.0